html, body {
    background-color: #13171c;
    color: #bbb;
    text-align: justify;
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
    font-size: large;
}

h1 {
    text-decoration: underline;
}

a:link {
    color: #c9a33a;
    text-decoration: none;
}

a:hover {
    color: #6e7047;
}

a:visited {
    color: #6f47b5;
}

code {
    color: #b0354f;
    background-color: #261c1e;
}
